<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="4" parallel="methods" name="Regression-Suite">
  <test thread-count="4" parallel="methods" name="LoginTest">
    <classes>
      <class name="sanitytests.LoginTest"/>
    </classes>
  </test>
</suite>
